@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: "Libertinus Sans", sans-serif;
}

/*--------------------------------------- header -------------------------------------------*/

header{
    height: 10vh;
    background: #da6464;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div{
    text-align: center;

}

header div h3{
    font-size: 16px;
}

header nav ul{
    display: flex;
    gap: 20px;

}

header nav a{
    list-style: none;
    color: black;
    padding-left:10px;
    padding-right: 10px;
}

/*-------------------------------------------main----------------------------------------------------*/

.active-link{
    color: #950104;
}

main{
    height: 90vh;
    background-image:url("https://wallpaperaccess.com/full/3547608.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px;
}

main p{
    font-size: 20px;
    color: #ca8f8f;
}

main h1{
    font-size: 100px;
    letter-spacing: 10px;
    color: #ca8f8f;
}

main button{
    height: 40px;
    width: 160px;
    background-color: black;
    color:#ca8f8f ;
    border: none;
    margin-top: 35px;
    transition: 0.5s;
}

main button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    color: #df1b1f;
}

