*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.w-1070{
    width: 1070px;
    margin: 0 auto;
}

/*-------------------------------------------header---------------------------------------------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-family: "DM Sans", sans-serif;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header nav ul a{
    color: #696871;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.469px;
}

.active-link{
    color: #19191B;
    border-bottom: 2px solid #5454D4 ;

}

header button{
    width: 211.02px;
    height: 60px;
    border-radius: 10px;
    background: #FF7143;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}

/*--------------------------------------hero----------------------------------------*/

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
}

.hero h1{
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 77px; /* 102.667% */
    letter-spacing: -2.501px;

}

.hero p{
    width: 409.426px;
    color: #696871;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    margin: 30px 0 50px 0;
}

.hero button{
    width: 188.211px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #5454D4;
    border: none;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}

/*-----------------------------------------logos------------------------------------------*/
.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 130px 0 150px 0;
}

/*-----------------------------------------main-------------------------------------------*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Subscription_index{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 83px;
}

.Subscription_index div:last-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 166px ;
    gap: 30px;
}

.Subscription_index div:last-child h2{
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px; /* 114% */
    letter-spacing: -1.563px;
}

.Subscription_index div:last-child p{
    width: 459px;
    color: #696871;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
}

.Subscription_index div:last-child a {
    color: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}

.In_depth_metrics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 138px;
}

.In_depth_metrics div:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 208px ;
    gap: 30px;
}

.In_depth_metrics h2{
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px; /* 114% */
    letter-spacing: -1.563px;
}

.In_depth_metrics p{
    color: #696871;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
}

.In_depth_metrics a{
    color: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 150px;
}

.Icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Icon h3{
    margin: 7px 0 20px 0;
    color: #19191B;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: -0.75px;
}

.Icon p{
    color: #696871;
    text-align: center;
    font-family: Mulish,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.5px;
    width: 307px;;
}

/*------------------------------right_plan---------------------------------------*/

.right_plan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 82px;
    font-family: "DM Sans", sans-serif;

}

.right_plan h3{
    width: 523px;
    color: #19191B;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px; /* 116.667% */
    letter-spacing: -1.876px;
}

.right_plan div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 344px;
    height: 65px;
    border-radius: 10px;
    background: #F7F7FB;

}

.right_plan p{
    color: #19191B;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
    width: 175px;
}

.right_plan button{
    width: 160px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px 0 0 10px;
    border: none;
    background: #5454D4;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-left: 6px;
}

/*------------------------------------footer--------------------------------------------*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-bottom: 85px;
}

footer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;

}

.same{
    width: 330px;
    height: 441px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F8F8F8;
}

footer>section:nth-child(1)>p:nth-child(1){
    color: #696871;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.563px;
    margin-top: 34px;
}

.same h4{
    color: #1D293F;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px; /* 93.333% */
    letter-spacing: -1.034px;
    margin: 22px 0 28px 0;
}

.same>div>p{
    color: #696871;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 294.118% */
    letter-spacing: -0.531px;
}

.Enterprise>p{
    color: #696871;
    text-align: center;
    font-family: "DM Sans", "sans-serif";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.563px;
    margin-top: 34px;
}


.Enterprise>h4>span{
    font-size: 28px;
}
.same>button{
    width: 285px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    background: #FFF;
    color: #5454D4;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    margin: 36px 0 27px 0;
}

.Premium{
    width: 376px;
    height: 473px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF7143;
    box-shadow: 0 32px 34px 0 rgba(255, 112, 59, 0.32);
}

.Premium>p {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.563px;
    margin-top: 50px;
}

.Premium>h4{
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px; /* 93.333% */
    letter-spacing: -1.034px;
    margin: 22px 0 28px 0;
}
.Premium span{
    font-size: 28px;
}

.Premium>div>p{
    color: #FFF;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px; /* 294.118% */
    letter-spacing: -0.531px;
}

.Premium>button{
    width: 305px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #9F3919;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    margin:36px 0 43px 0;
    border: none;
}


/*------------------------down-----------------------------*/
.down p{
    width: 364px;
    height: 28px;
    flex-shrink: 0;
    color: #E4E4E4;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 45px;
    margin-left: 105px;
}